body{
	/*display: relative;*/
	font-family: 'Acme', sans-serif;
	background-image: url("../resources/Background.jpg");
	background-repeat: no-repeat;
	/*background-size: cover;*/
	/*color: white;*/
}

.container-fluid{
	background-image: url('../resources/table4.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: grid;
	grid-template-rows: 40% 10% 8.5% 0.5% 8% 41%;
	grid-template-columns: 8% 23% 7.5% 4.5% 3% 0.5% 3.5% 3.5% 3.5% 4% 7.5% 7.5% 16% 8%; /*94.5*/
	/*grid-template-columns: 8% 23% 38% 23% 8%;*/
	min-height: 835px;
	max-width: 1450px;
	left-padding: 40px;
	right-padding: 40px;
}

/*.container > div {
	border: 1px solid red;
}*/

.startButtonArea{
	grid-column-start: 4;
	grid-column-end: 11;
	grid-row-start: 6;
	grid-row-end: 7;
	justify-self: center;
	padding-top: 5%;
}

.dealer{
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 3;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 170px 220px;
	/*background-image: url("https://deckofcardsapi.com/static/img/9D.svg");*/
	-webkit-transform: rotate(90deg);
	border-radius: 25%;
	margin-top: 5%;
}

.dealer1{
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 3;
/*	border-style: solid;
	border-color: yellow;*/
}

.dealer2{
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 3;
	grid-row-end: 4;
/*	border-style: solid;
	border-color: green;*/
}

.betLabel{
	font-size: 16px;
}

.dealerBet{
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 4;
	align-self: center;
	margin-left: 10%
	/*margin: auto;*/
}

.playerBet{
	grid-column-start: 13;
	grid-column-end: 14;
	grid-row-start: 2;
	grid-row-end: 4;
	margin-right: 10%;
	align-self: center;
	justify-self: end;
}

/*TO-DO: Hide Dealer Card by default*/
.hideCard{

}

.player{
	background-repeat: no-repeat;
	background-position: center;
	background-size: 170px 220px;
	/*background-image: url("https://deckofcardsapi.com/static/img/9D.svg");*/
	/*background-image: url("../resources/cleaned/face-down.png");*/
	-webkit-transform: rotate(90deg);
	margin-left: 10%;
	margin-top: 5%;
}

.card-face-down-rotated{
	background-repeat: no-repeat;
	background-position: center;
	background-size: 40px;
	/*background-image: url("https://deckofcardsapi.com/static/img/9D.svg");*/
	background-image: url("../resources/cleaned/face-down.png");
	-webkit-transform: rotate(90deg);
	margin-left: 10%;
	margin-top: 5%;
}

.player1{
	grid-column-start: 14;
	grid-column-end: 15;
	grid-row-start: 2;
	grid-row-end: 3;
}

.player2{
	grid-column-start: 14;
	grid-column-end: 15;
	grid-row-start: 3;
	grid-row-end: 5;
}

.tableBet{
	grid-column-start: 4;
	grid-column-end: 11;
	grid-row-start: 1;
	grid-row-end: 2;
	align-self: end;
	text-align: center;
	/*margin-bottom: 20px;*/
}

.chipImg{
	width: 80px;
}

.blueChipArea{
	grid-column-start: 5;
	grid-column-end: 6;
	grid-row-start: 4;
	grid-row-end: 6;
}

.greenChipArea{
	grid-column-start: 7;
	grid-column-end: 8;
	grid-row-start: 4;
	grid-row-end: 6;
}

.blackChipArea{
	grid-column-start: 8;
	grid-column-end: 9;
	grid-row-start: 4;
	grid-row-end: 6;
}

.redChipArea{
	grid-column-start: 9;
	grid-column-end: 10;
	grid-row-start: 4;
	grid-row-end: 6;
}

.communityCards{
/*	border-style: solid;
	border-color: green;*/
	background-repeat: no-repeat;
	background-position: center;
	background-size: 185px;
	border-radius: 25%;
	margin-top: 20%;
}

.community1{
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 2;
	grid-row-end: 4;
	margin-left: 5%;
	/*background-image: url("https://deckofcardsapi.com/static/img/9D.svg");*/
}

.community-card-face-down{

	background-repeat: no-repeat;
	background-position: center;
	background-size: 55px;
	background-image: url("../resources/cleaned/face-down.png");
	/*background-image: url("https://deckofcardsapi.com/static/img/9D.svg");*/
}

.community2{
	grid-column-start: 4;
	grid-column-end: 6;
	grid-row-start: 2;
	grid-row-end: 4;
	margin-left: 5%;
	/*background-image: url("https://deckofcardsapi.com/static/img/9D.svg");*/
}

.community3{
	grid-column-start: 7;
	grid-column-end: 9;
	grid-row-start: 2;
	grid-row-end: 4;
	/*background-image: url("https://deckofcardsapi.com/static/img/9D.svg");*/
}

.community4{
	grid-column-start: 9;
	grid-column-end: 11;
	grid-row-start: 2;
	grid-row-end: 4;
	margin-left:10%;
	/*background-image: url("https://deckofcardsapi.com/static/img/9D.svg");*/
}

.community5{
	grid-column-start: 11;
	grid-column-end: 12;
	grid-row-start: 2;
	grid-row-end: 4;
	margin-left:10%;
	/*background-image: url("https://deckofcardsapi.com/static/img/9D.svg");*/
}

.playerChips{
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 4;
	grid-row-end: 5;
	border-style: solid;
	border-color: purple;
}

.chips{
	border-style: solid;
	border-color: purple;
	margin: 0 auto;
}

.title{
	text-align: center;
	color: white;
	padding-top: 1%;
	padding-bottom: 1%;
}

.settings{
	position: fixed;
	min-width: 200px;
	max-width: 200px;
	border-style: solid;
	border-color: purple;
	background-color:rgba(255,0,0,0.5);
	margin-left: 10px;
	color: white;
}

.tableLabel{
	font-family: 'Acme', sans-serif;
	font-size: 18px;
	align-self: end;
	color: #FFF;
}

.dealarLabel{
	font-family: 'Acme', sans-serif;
	font-size: 18px;
	align-self: end;
	color: #FFF;
}

.playerLabel{
	font-family: 'Acme', sans-serif;
	font-size: 18px;
	align-self: end;
	color: #FFF;
	grid-column-start: 14;
	grid-column-end: 15;
	grid-row-start: 1;
	grid-row-end: 2;
}

.bigBlind{
	width: 55px;
	margin-left: 10px;
}

.hide{
	display: none;
}

.disabledButton{
	pointer-events: none;
}

/*Animation!*/
@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.turn {
    animation: blink 1s;
    animation-iteration-count: infinite;
    width: 25px;
}

.status{
	white-space: nowrap;
}

.revealCard{
	-webkit-animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-10-14 15:46:19
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
}